$component-border: 1px solid #b0b0b0;
$cell-border: 1px solid #dedede;

.FlexTable {

  -webkit-user-select: none;
  user-select: none;
  cursor: default;

  &__Grid {
    border: $component-border;
  }

  &__headerRow {
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #efefef 13%, #e6e6e6 100%);

    border-top: $component-border;
    border-right: $component-border;
    border-left: $component-border;
    border-bottom: none;

    text-transform: none;
  }

  &__row {
    border-bottom: $cell-border;

    &.selected {
      background: #bbd1f2;
    }
  }

  &__headerColumn,
  &__rowColumn {
    margin: 0;
    padding: 0 5px;

    &:first-of-type {
      margin: 0;
    }
  }

  &__rowColumn {
    border-right: $cell-border;

    &:last-of-type {
      border-right: none;
    }
  }

  .empty {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #000;
  }

  &__loadingShade {
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
}